[submodule "external/OpenNGC"]
	path = external/OpenNGC
	url = https://github.com/mattiaverga/OpenNGC.git
[submodule "external/western_constellations_atlas_of_space"]
	path = external/western_constellations_atlas_of_space
	url = https://github.com/eleanorlutz/western_constellations_atlas_of_space.git
[submodule "external/vsop87-multilang"]
	path = external/vsop87-multilang
	url = https://github.com/gmiller123456/vsop87-multilang.git
