    html {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
    body, td { font-size: 5mm ; color:red ; font-family: sans; background-color:black }
    a:link {color: red;}
    a:visited { color: red; }
    a:active { color:red; }
    a:hover { color:red; }
    img { padding:0; margin:0; }
    button { border-radius:2mm; height:10mm; font-size:5mm ; text-align:center; vertical-align: middle; background-color:black; color:red; border: 2px solid red }
    button:disabled {
        color:#800000;
    }
    .solver_results { background-color: transparent; }
    .nowr { white-space: nowrap; }
    .slider { width: 100%; }
    .val_input { width: 15mm; }
    .slider_elem { background-color: transparent; }
    .comp_but, .incdec_but { width: 10mm ; height:10mm; font-size:5mm ; padding: 0 }
    .stretch_background {
        background: url(/media/img/stretch.png) no-repeat center center;
        background-size: 10mm 10mm;
    }
    .solve_background {
        background: url(/media/img/solve.png) no-repeat center center;
        background-size: 10mm 10mm;
    }
    .pause_background {
        background: url(/media/img/pause.png) no-repeat center center;
        background-size: 10mm 10mm;
    }
    .resume_background {
        background: url(/media/img/resume.png) no-repeat center center;
        background-size: 10mm 10mm;
    }
    .save_background {
        background: url(/media/img/save.png) no-repeat center center;
        background-size: 10mm 10mm;
    }
    .cancel_background {
        background: url(/media/img/cancel.png) no-repeat center center;
        background-size: 10mm 10mm;
    }
    .settings_background {
        background: url(/media/img/settings.png) no-repeat center center;
        background-size: 10mm 10mm;
    }
    #thumb_stream_video {
        padding:0;
        margin:0;
    }
    #live_stream_video {
        padding:0;
        margin:0;
    }
    #live_stream_video_div {
        overflow-x:scroll;
        overflow-y:scroll;
        padding:0;
        margin:0;
    }
    #solver_result {
        padding:0;
        margin:0;
    }
    #solver_result_image {
        padding:0;
        margin:0;
    }
    #thumb {
        text-align:right;
        width:100%
        padding: 0;
        margin:0;
    }
    #video {
        text-align:center;
        width:100%
        padding: 0;
        margin:0;
    }
    .config_tab {
        border: 1px solid red;
        margin: 1mm 1mm 1mm 1mm;
        padding: 1mm 1mm 1mm 1mm;
    }
    .alert_div {
            display:none;
            position:absolute;
            left:20%;
            top:20%;
            z-index:5;
            padding: 1% 1% 1% 1%;
            width: 58%;
            background:black;
            border: 1px solid red;
            margin: auto;
            text-align: center;
    }

